{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create Comment{% endblock title %}

{% block content %}
<div class="profile">
    <a href="">
        {% if tweet.author.icon %}
            <!-- プロフィール画面に飛ぶリンクを追加する -->
            <img class="icon" src="{{ tweet.author.icon.url }}">
        {% else %}
            <img class="icon" src="{% static 'image/icon/noimage.png' %}">
        {% endif %}
    </a>
    <a class="username" href="">{{ tweet.author.username }}</a>
</div>
<div class="tweet-detail">
    <p class="tweet-text">{{ tweet.tweet }}</p>
    {% if tweet.picture %}
        <p class="tweetpicture"><img src="{{ tweet.picture.url }}" width="380"></p>
    {% endif %}
    <p class="gray-char">{{ tweet.created|date:"Y/m/j H:i:s"}}</p>
</div>
<div class="partition-line"></div>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Comment" class="btn btn-primary">
</form>
{% endblock content %}
