{% extends 'base.html' %}
{% load static %}

{% block title %}Comment Delete{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/twt.css' %}">
{% endblock css %}

{% block content %}
<div class="profile">
    <!-- プロフィール画面に飛ぶリンクを追加する -->
    <a href="">
        {% if tweet.author.icon %}
            <img class="icon" src="{{ tweet.author.icon.url }}">
        {% else %}
            <img class="icon" src="{% static 'image/icon/noimage.png' %}">
        {% endif %}
    </a>
    <a class="username" href="">{{ tweet.author.username }}</a>
</div>
<div class="tweet-delete">
    <p class="tweet-text">{{ tweet.tweet }}</p>
    {% if tweet.picture %}
        <p class="tweetpicture"><img src="{{ tweet.picture.url }}" width="380"></p>
    {% endif %}
    <p class="gray-char">{{ tweet.created|date:"Y/m/j H:i:s"}}</p>
    <!-- <div class="partition-line"></div> -->
    <span>{{ tweet.like|length }}件のいいね！</span>
</div>
<div class="partition-line"></div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Edit" class="btn btn-dark">
</form>
{% endblock content %}
