{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/twt.css' %}">
{% endblock css %}

{% block content %}
<div class="profile-header">
{% if profile_user.icon %}
    <img class="big-icon profile-icon" src="{{ profile_user.icon.url }}">
{% else %}
    <img class="big-icon profile-icon" src="{% static 'image/icon/noimage.png' %}">
{% endif %}
{% if profile_user != user %}
    {% if is_follow %}
        <button id="following-id" type="button" class="btn btn-primary follow-btn" name="user_id" value="{{ profile_user.id }}" data-href="{% url 'users:follow' %}">Following</button>
        <button id="follow-id" type="button" class="btn btn-primary follow-btn follow-hide" name="user_id" value="{{ profile_user.id }}" data-href="{% url 'users:follow' %}">Follow</button>
    {% else %}
        <button id="following-id" type="button" class="btn btn-primary follow-btn following-hide" name="user_id" value="{{ profile_user.id }}" data-href="{% url 'users:follow' %}">Following</button>
        <button id="follow-id" type="button" class="btn btn-primary follow-btn" name="user_id" value="{{ profile_user.id }}" data-href="{% url 'users:follow' %}">Follow</button>
    {% endif %}
{% endif %}
</div>

<p class="profile-name">{{ profile_user.username }}</p>
{% if profile_user.age %}
    <p class="profile-age">Age: {{ profile_user.age }}</p>
{% else %}
    <p class="profile-age">Age: Secret</p>
{% endif %}

<a class="follow-count" href="{% url 'users:following_user_list' profile_user.id %}">{{ following_count }}</a> <span class="gray-char"> Following</span>
<a id="follower-count" class="follow-count" href="{% url 'users:follower_user_list' profile_user.id %}">{{ follower_count }}</a> <span id="follower" class="gray-char"> Follower{{ follower_count|pluralize }}</span>

{% include 'tweet/tweet.html' %}

{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'js/ajaxSetup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/twt_list.js' %}"></script>
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock script %}
