{% load static %}

<form action="{% url 'tweet:tweet_like' %}" method="POST">
    {% csrf_token %}
    {% if tweet.tweet_liked %}
        <button type="submit" id="tweet-like-{{tweet.tweet.id}}" name="tweet_id" value="{{tweet.tweet.id}}" class="btn like-btn">
            <img class="like-image" src="{% static 'image/heart.png' %}">
        </button>
    {% else %}
        <button type="submit" id="tweet-like-{{tweet.tweet.id}}" name="tweet_id" value="{{tweet.tweet.id}}" class="btn like-btn">
            <img class="like-image" src="{% static 'image/heart_blank.png' %}">
        </button>
    {% endif %}
</form>
