{% extends 'base.html' %}
{% load static %}

{% block title %}Tweet Detail{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/twt.css' %}">
<link rel="stylesheet" href="{% static 'css/twt_detail.css' %}">
{% endblock css %}

{% block content %}
<div class="tweetblock">
    <div class="tweetdiv tweet-content">
        <div class="block-upper">
            <div class="profile">
                <!-- プロフィール画面に飛ぶリンクを追加する -->
                <a href="">
                    {% if tweet.author.icon %}
                        <img class="icon" src="{{ tweet.author.icon.url }}">
                    {% else %}
                        <img class="icon" src="{% static 'image/icon/noimage.png' %}">
                    {% endif %}
                </a>
                <a class="username" href="">{{ tweet.author.username }}</a>
            </div>
            {% if user == tweet.author %}
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item small-char" href="{% url 'tweet:twt_edit' tweet.id %}">Edit</a>
                        <a class="dropdown-item small-char" href="{% url 'tweet:twt_delete' tweet.id %}">Delete</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="tweet-detail">
            <p class="tweet-text">{{ tweet.tweet }}</p>
            {% if tweet.picture %}
                <p class="tweetpicture"><img src="{{ tweet.picture.url }}" width="380"></p>
            {% endif %}
            <p class="tweettime">{{ tweet.created|date:"Y/m/j H:i:s"}}</p>
            <span id="tweet-detail-like">{{ tweet.like.count }}件のいいね！</span>
            <div>
                <a class="inlink" href="{% url 'tweet:comment_create' tweet.id %}"><img class="comment-image" src="{% static 'image/comment.png' %}"></a>
                {% if tweet_liked %}
                    <button type="submit" name="tweet_id" value="{{tweet.id}}" class="btn detail-like-btn" data-href="{% url 'tweet:tweet_detail_like' %}">
                        <img id="detail-like" class="like-image" src="{% static 'image/heart.png' %}">
                        <img id="detail-not-like" class="like-image hide-heart_blank" src="{% static 'image/heart_blank.png' %}">
                    </button>
                {% else %}
                    <button type="submit" name="tweet_id" value="{{tweet.id}}" class="btn detail-like-btn" data-href="{% url 'tweet:tweet_detail_like' %}">
                        <img id="detail-like" class="like-image hide-heart" src="{% static 'image/heart.png' %}">
                        <img id="detail-not-like" class="like-image" src="{% static 'image/heart_blank.png' %}">
                    </button>
                {% endif %}
            </div>
            <div class="partition-line"></div>
        </div>
    </div>
</div>
    {% for comment in comments %}
        <div class="tweetblock">
            <div class="tweetdiv">
                <!-- プロフィール画面に飛ぶ -->
                <a class="inlink" href="">
                    {% if comment.author.icon %}
                        <img class="icon" src="{{ comment.comment.author.icon.url }}">
                    {% else %}
                        <img class="icon" src="{% static 'image/icon/noimage.png' %}">
                    {% endif %}
                </a>
            </div>
            <div class="tweetdiv tweet-content">
                <div class="block-upper">
                    <div class="username">{{ comment.comment.author.username }}</div>
                    {% if user == comment.comment.author %}
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item small-char" href="{% url 'tweet:comment_edit' comment.comment.pk %}">Edit</a>
                            <a class="dropdown-item small-char" href="{% url 'tweet:comment_delete' comment.comment.pk %}">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <p class="tweet-text">{{ comment.comment.comment }}</p>
                <p class="tweettime">{{ comment.comment.created|date:"Y/m/j H:i:s" }}</p>
                <div class="like-area">
                    <div>
                        {% if comment.comment_liked %}
                            <button type="submit" name="comment_id" value="{{comment.comment.id}}" class="btn like-btn" data-href="{% url 'tweet:comment_like' %}">
                                <img id="comment-like-{{comment.comment.id}}" class="like-image" src="{% static 'image/heart.png' %}">
                                <img id="comment-not-like-{{comment.comment.id}}" class="like-image hide-heart_blank" src="{% static 'image/heart_blank.png' %}">
                            </button>
                        {% else %}
                            <button type="submit" name="comment_id" value="{{comment.comment.id}}" class="btn like-btn" data-href="{% url 'tweet:comment_like' %}">
                                <img id="comment-like-{{comment.comment.id}}" class="like-image hide-heart" src="{% static 'image/heart.png' %}">
                                <img id="comment-not-like-{{comment.comment.id}}" class="like-image" src="{% static 'image/heart_blank.png' %}">
                            </button>
                        {% endif %}
                    </div>
                    <a id="comment-like-count-{{comment.comment.id}}" class="like-count" href="#">{{ comment.comment.like.count }}</a>
                </div>
            </div>
        </div>
        <div class="partition-line"></div>
    {% endfor %}
{% endblock content %}
{% block script %}
<script type="text/javascript" src="{% static 'js/ajaxSetup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/twt_detail.js' %}"></script>
{% endblock script %}
