{% extends 'base.html' %}
{% load static %}

{% block title %}Tweet Delete{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/twt.css' %}">
{% endblock css %}

{% block content %}
<h5>Are you sure to delete this tweet?</h5>
<div class="partition-line"></div>
<div class="profile">
    <!-- プロフィール画面に飛ぶリンクを追加する -->
    <a href="">
        {% if tweet.author.icon %}
        <img class="icon" src="{{ tweet.author.icon.url }}">
        {% else %}
        <img class="icon" src="{% static 'image/icon/noimage.png' %}">
        {% endif %}
    </a>
    <a class="username" href="">{{ tweet.author.username }}</a>
</div>
<div class="tweet-delete">
    <p class="tweet-text">{{ tweet.tweet }}</p>
    {% if tweet.picture %}
    <p class="tweetpicture"><img src="{{ tweet.picture.url }}" width="380"></p>
    {% endif %}
    <p class="gray-char">{{ tweet.created|date:"Y/m/j H:i:s"}}</p>
    <span>{{ tweet.like|length }}件のいいね！</span>
    <div class="partition-line"></div>
    <form action="" method="POST">{% csrf_token %}
        <input type="submit" class="btn btn-outline-danger" value="Yes">
        <a class="btn btn-outline-dark" href="{% url 'tweet:twt_list' %}" role="button">No</a>
    </form>
</div>
{% endblock content %}
