body {
    background-color: rgb(220, 255, 247);
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.header-account {
    text-align: right;
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2px 5px;
    background-color: rgb(132, 252, 186);
    overflow: hidden;
    z-index: 100;
}

.header-tweet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-block {
    width: 100%;
    padding: 5px;
    padding-top: 50px;
}

.icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.mini-icon {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.username-field {
    width: 300px;
}

.age-field {
    width: 100px;
}

.email-field {
    width: 300px;
}

.password-field {
    width: 300px;
}

.red-message {
    color: red;
}

.comment-image, .like-image {
    width: 16px;
    height: 16px;
}

.add-tweet {
    z-index: 10;
}

.partition-line {
    border: solid 1px;
    color: gray;
    opacity: .1;
    margin: 3px;
    background-color: gray;
    width: 100%;
}

.asteriskField {
    display: none;
}

.small-char {
    font-size: 12px;
}

.profile {
    padding-top: 6px;
}

.like-red {
    color: red;
}

.comment-like {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.like-area {
    padding: 0 0 0 3px;
    z-index: 10;
    display: flex;
    align-items: center;
}

.like-btn {
    padding: 0;
}

.like-count {
    display: block;
}

.hide-heart {
    display: none;
}

.hide-heart_blank {
    display: none;
}
